.container-grid3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	margin: 50px;
}
ul {
	margin: 0;
	padding: 0;
}
.item-grid3 {
	background: #EEE;
	color: #000;
	padding: 10px;
}

.task {
	list-style: none;	
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}


.incomplete {
	background: #E1A5CB;
}
.incomplete:active {
	background: #D095BA;
}

.running {
	background: #97D3E3;
}

.completed {
	background: #A6E39D;
}

.textbox {
	border: none;
	color: #fff;
}

.hidden-button {
	display: none;
}