<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<title>Insert title here</title>
</head>

<body>
	<h1>Todo Application</h1>
	<p>This is a todo application.</p>
	<form th:object="${todoForm}">
		<label>追加タスク名：</label><input type="text" th:field="${todoForm.todoName}">
		<button formaction="/enterEmpty" formmethod="post" class="hidden-button"></button>
		<div class="container-grid3">
			<div class="item-grid3">
				<div>未実施</div>
				<div class="container">
					<button formaction="/addIncomplete" formmethod="post">追加</button>
					<button formaction="/delete" formmethod="post">削除</button>
					<button formaction="/updateToRunning" formmethod="post">実行中</button>
					<button formaction="/updateToCompleted" formmethod="post">完了</button>
				</div>
				<ul th:each="todo : ${todoList}">
					<li class="task incomplete" th:if="${todo.status == 0}">
						<input type="checkbox" th:value="${todo.id}" th:field="${todoForm.checkTodo}">
						<input type="text" th:value="${todo.name}" class="textbox incomplete">
					</li>
				</ul>
			</div>
			<div class="item-grid3">
				<div>実行中</div>
				<div class="container">
					<button formaction="/addRunning" formmethod="post">追加</button>
					<button formaction="/delete" formmethod="post">削除</button>
					<button formaction="/updateToIncomplete" formmethod="post">未実施</button>
					<button formaction="/updateToCompleted" formmethod="post">完了</button>
				</div>
				<ul th:each="todo : ${todoList}">
					<li class="task running" th:if="${todo.status == 1}">
						<input type="checkbox" th:value="${todo.id}" th:field="${todoForm.checkTodo}">
						<input type="text" th:value="${todo.name}" class="textbox running">
					</li>
				</ul>
			</div>
			<div class="item-grid3">
				<div>完了</div>
				<div class="container">
					<button formaction="/addCompleted" formmethod="post">追加</button>
					<button formaction="/delete" formmethod="post">削除</button>
					<button formaction="/updateToIncomplete" formmethod="post">未実施</button>
					<button formaction="/updateToRunning" formmethod="post">実行中</button>
				</div>
				<ul th:each="todo : ${todoList}">
					<li class="task completed" th:if="${todo.status == 2}">
						<input type="checkbox" th:value="${todo.id}" th:field="${todoForm.checkTodo}">
						<input type="text" th:value="${todo.name}" class="textbox completed">
					</li>
				</ul>
			</div>
		</div>
	</form>
</body>

</html>